[submodule "server/k8s-tpm-device-plugin"]
	path = server/k8s-tpm-device-plugin
	url = https://github.com/mithril-security/k8s-tpm-device-plugin.git
[submodule "application_disk/model/Llama-2-7b-hf"]
	path = application_disk/model/Llama-2-7b-hf
	url = https://huggingface.co/meta-llama/Llama-2-7b-hf
[submodule "tensorrtllm_backend"]
	path = tensorrtllm_backend
	url = https://github.com/triton-inference-server/tensorrtllm_backend.git
	branch = release/0.5.0
